@import url('//use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-primary: hsl(39, 100%, 47%);
    --deepblue: hsl(197, 100%, 12%); /* #002c3d */
    --black: hsl(0, 0%, 5%);
    --sans-serif: 'Nunito', Arial, sans-serif;
    --serif: 'Playfair Display', Times, serif;
    --breakpoint-medium: 50rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*:focus-visible {
    outline: 2px dashed var(--color-primary);
    outline-offset: 3px;
}

body {
    color: var(--black);
    font-family: var(--sans-serif);
}

p {
    line-height:1.7em;
}

/* BLOCKS */

main {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2rem;
    align-items: center;
    height:100vh;
}

.contact-info {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));

    grid-column: 1 / span 3;
    grid-row: 1;
    height:100%;
    padding:2rem;
    color: var(--deepblue);
    background: var(--color-primary);
}

.home-picture {
    grid-column: 3 / span 3;
    grid-row: 1;
    width: 100%;
    height: calc(100vh - 4rem);
    object-position: center;
    object-fit:cover;
    z-index:2;
    box-shadow: 0 0 50px 5px rgba(0,0,0,.125);
    filter:sepia();
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column: 6 / 10;

    margin-left: 3rem;
    height:100%;
}

@media (max-width:55rem) {
    .main {
        grid-auto-flow:dense;
    }
    .contact-info {
        grid-column: 1 / 11;
        grid-row: 3;
        gap: 2rem;
        justify-content: center;
    }
    .home-picture {
        grid-column: 1 / 11;
        height: unset;
    }

    .main-content {
        grid-column: 3 / 10;
        margin:0;
    }
}

/* NAV */

.nav-header {
    position:fixed;
    right: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:200px;
    background: var(--deepblue);
    transform: translateX(200px);
    transition: .3s ease-out;
    z-index:100;
}

.nav-header.active {
    transform: translateX(0);
    border-left: 1px solid var(--black);
}

.hamburger-btn {
    position: absolute;
    top: 2rem;
    left: -3rem;
    width:23px;
    aspect-ratio: 1/1;
    background: none;
    border: none;
    cursor:pointer;
    transition: .3s ease-out;
}

.hamburger-btn-icon {
    position:relative;
    width: 23px;
    height: 3px;
    background: var(--black);
    transition: .3s ease-out;
}

.nav-header.active .hamburger-btn {
    transform:translateX(200px);
}

.nav-header.active .hamburger-btn-icon {
    background: none;
}

.hamburger-btn-icon::before,
.hamburger-btn-icon::after {
    content:'';
    position:absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition: transform .3s ease-out, 
        top .3s ease-out, 
        background-color .3s ease-out;
}

.hamburger-btn-icon::before {
    top: -8px;
}

.hamburger-btn-icon::after {
    bottom: -8px;
}

.nav-header.active .hamburger-btn-icon::before {
    top:0;
    background-color: var(--color-primary);
    transform:rotateZ(45deg);
}

.nav-header.active .hamburger-btn-icon::after {
    top:0;
    background-color: var(--color-primary);
    transform: rotateZ(-45deg);
}

.nav-header ul {
    list-style:none;
    width:100%;
    text-align: center;
}

.nav-header li {
    line-height: 3em;
}

.nav-header a {
    display:inline-block;
    width:100%;
    height:100%;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
}

/* TYPOGRAPHY */

.contact-email {
    grid-column: 1;
}
.contact-phone {
    grid-column: 2;
}
.contact-social {
    grid-column: 3;
}

@media (max-width: 30rem) or (min-width: 55rem) {
    .contact-info {
        gap: 0;
    }

    .contact-email {
        grid-row: -3 / -4;
        grid-column: unset;
    }
    .contact-phone {
        grid-row: -2 / -3;
        grid-column: unset;        
    }
    .contact-social {
        grid-row: -1 / -2;
        grid-column: unset;
    }   
}

.contact-info p {
    font-size: .8rem;
}

.contact-info p:nth-of-type(odd) {
    margin-top: 1rem;
}

.contact-info a {
    color:inherit;
    padding: .5em;
    font-size:.9rem;
}

.contact-info a:hover,
.contact-info a:focus {
    color:white;
}

.name-title {
    text-transform:uppercase;
    margin-bottom: 1rem;
    line-height:1em;
}

.name-title em {
    position:relative;
    color: var(--color-primary);
    font-style:normal;
}

.name-title em::before {
    content:'';
    position:absolute;
    top: .6em;
    left: -8rem;
    height: 3px;
    width: 80px;
    background-color: var(--color-primary);
    z-index: 3;
}

.function {
    color: #333;
    font-size: 1rem;
    margin-bottom: 2em;
}

.main-content p {
    font-family: var(--serif);
    max-width: 40ch;
}

/* COMPONENTS */

.main-page-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap:1rem;
    margin-top: 2rem;
}

.btn {
    padding: 1em 2em;
    max-width:max-content;
    font-weight:bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-radius:50px;
    transition: .3s ease-out;
}

.btn-primary {
    color:white;
    background-color:var(--color-primary);
    border: 2px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus-visible {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    background-color:white;
}

.btn-secondary {
    color: var(--deepblue);
    background-color: white;
    border: 2px solid var(--deepblue);
}

.btn-secondary:hover,
.btn-secondary:focus-visible {
    color: white;
    background-color: var(--deepblue); 
}